:root {
    color-scheme: dark light;
    font-size: 1rem;
    font-family: monospace;
}

a {
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* Mobile */
/* pure HTML */
/* class */
/* tag */

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* PC */
@media only screen and (min-width: 740px) {

    /* pure HTML */
    body {
        max-width: 740px;
        margin: auto;
    }

    /* class */
    /* tag */
}