<!DOCTYPE html>
<html>

<head>
    <base target="_blank">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="/css/index.css">
</link>

<body>
    <span>
        <center>
            <h2>MENU</h2>
            <h3><a class="link" href="{{ get_url(path='@/cooking/_index.md') }}">> food recipy </a></h3>
            <h3><a class="link" href="{{ get_url(path='@/life_update/_index.md') }}">> life update </a></h3>
        </center>
    </span>
</body>

</html>